.input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 8px;
    outline: none;
    border: none;
    border: 1px solid darkgray;
}
.input[type="submit"] {
    color: white;
    background: blue;
    border: none;
    cursor: pointer;
}