.cube-hints .face {
    background: white!important;
    border: 3px solid #eee;
}
.cube-hints .hints-wrapper {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}