.typing-animation {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 4px;
    border-radius: 100%;
    border:1px solid rgb(83, 83, 83);
    animation: typing  infinite 0.4s ;
}
@keyframes typing {
    0% {  transform: scale(1); }
    25% {  transform: scale(0.75); }
    50% {  transform: scale(0.5); }
    75% {  transform: scale(0.75); }
    100% {  transform: scale(1); }
}
.delay-1{
    animation-delay: 0;
}
.delay-2{
    animation-delay: 0.25s;
}
.delay-3{
    animation-delay: 0.5s;
}