
#create-account {
    position: absolute;
    right: 50px;
    bottom: 10%;
}
.login-with-google{
    width: 50%;
    height: 40px;
    margin: 1rem 0;
    font-size: 16px;
    padding: 0.5rem;
    background-color: white;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login-with-google img {
    width: 32px;
    position: absolute;
    left: 20px;
    top: 15%;
}