@media (max-width: 600px){
    #password-field-icon{
        top: 44%;
    }
    h1{
        font-size: 22px;
    }
    body {
        background: lightblue ;
    }
    .buttons-group {
        margin: 0;
        position: relative;
    }
    .button {
        margin: 0.1rem;
    }
    .cubes {
        display: block;
    }
    .wrapper {
        width: 90%;
        transform: scale(0.9);
        margin: 0 auto;
    }
    .face {
        width: 90%;
    }
}
@media (max-width: 800px){
    #password-field-icon{
        top: 44%;
    }
    h1{
        font-size: 22px;
    }
    .button {
        margin: 0.5rem;
        font-size: 14px;
    }
    .wrapper {
        width: 100%;
        transform: scale(0.9);
        margin: 0 auto;
    }
    .face {
        width: 100%;
    }
}