@media (max-width: 400px){
    body {
        background: lightblue ;
    }
    .buttons-group {
        margin: 0;
        position: relative;
    }
    .button {
        margin: 0.1rem;
    }
    .cubes {
        display: block;
    }
    /* .wrapper {
      width: 100%;
    }
    .face {
        width: 90%;
    }
    .face-top {
        width: 90%;
    }
    .face-bottom{
    }
    .cube-hints {
        margin-top: 2rem;
    } */
    .wrapper {
        width: 100%;
        transform: scale(0.9);
    }
    .face {
        width: 100%;
    }
}