body {
	margin: 0;
	padding: 0;
	background-color: orange;
}

.cube-face {
	position: absolute;
	width: 200px;
	height: 200px;
}

.cube-face-login {
	transform: rotateY( 0deg) translateZ(100px);
}

.cube-face-singup {
	transform: rotateY( 90deg) translateZ(100px);
}

.cube-face-forgetpassword {
	transform: rotateY(180deg) translateZ(100px);
}

.cube-face-contactus {
	transform: rotateY(-90deg) translateZ(100px);
}

.cube-face-subscribe {
	transform: rotateX( 90deg) translateZ(100px);
}

.cube-face-message {
	transform: rotateX(-90deg) translateZ(100px);
}

.cube.show-login {
	transform: translateZ(-100px) rotateY( 0deg);
}

.cube.show-signup {
	transform: translateZ(-100px) rotateY( -90deg);
}

.cube.show-forgetpassword {
	transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-contactus {
	transform: translateZ(-100px) rotateY( 90deg);
}

.cube.show-subscribe {
	transform: translateZ(-100px) rotateX( -90deg);
}

.cube.show-message {
	transform: translateZ(-100px) rotateX( 90deg);
}